body
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif

h1
  font-size: 3em
  text-align: center

a
  color: #FFF
  text-decoration: none

[draggable]
  -moz-user-select: none
  -khtml-user-select: none
  -webkit-user-select: none
  user-select: none

  -khtml-user-drag: element
  -webkit-user-drag: element

.main-content
  position: relative
  margin: auto
  padding: 20px
  height: 100%
  width: 100%
  max-width: 960px
  background-color: #EAEAEA
  text-align: center


.list
  margin: 0
  padding: 0
  list-style: none

  li
    display: inline-block

  .draggable-item
    padding: 10px 12px
    background-color: #000
    color: #FFF
    border-radius: 50%
    cursor: move

  .person
    position: relative
    display: block
    margin-bottom: 20px
    padding: 20px
    color: #000
    border-bottom: 1px solid #555
    text-align: left

    &.drop-area-zone
      color: #F00
      border-bottom: 1px dashed red

      .drop-area
        border-color: #F00

    .drop-area
      position: absolute
      top: 0
      right: 20px
      bottom: 0
      display: inline-block
      margin: auto
      padding-top: 5px
      height: 30px
      width: 40px
      border: 1px solid #555
      text-align: center

  &.persons
    float: left
    margin-top: 100px

.output
  float: left
  margin-top: 100px
  border: 1px solid #555

  p
    margin: 0
    padding: 20px

.current-value
  display: inline-block
  padding: 30px 20px
  background-color: #000
  color: #FFF
  font-size: 2em
  border-radius: 50%

.clearfix
  overflow: auto
  zoom: 1

.two-col
  .col-item
    width: 45%
    margin-right: 9%

    &:last-child
      margin-right: 0


